<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/static/css/pico.orange.css">
    <title>Wallet Cripto</title>
</head>
<body>
    <main class="container">
        <header>
            <h2>Mis Movimientos</h2>
            <nav>
                <ul>
                    <li><a href="/" class="secondary">Inicio</a></li>
                    <li><a href="/compras">Nueva Compra</a></li>
                    <li><a href="/cartera">Mi Cartera</a></li>
                </ul>
            </nav>
        </header>

    <table role="grid">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Compra</th>
                <th>Cantidad</th>
                <th>Venta</th>
                <th>Cantidad</th>
            </tr>
        </thead>
    </table>
    </main>
    
</body>
</html>