<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/static/css/pico.orange.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Wallet Cripto</title>
</head>
<body>
    <main class="container">
        <header>
            <div class="crypto-header-container">
                
            <h1>Mis Movimientos</h1>
            <span class="crypto-icons">
                    <i class="fa-brands fa-bitcoin"></i>
                    <i class="fa-brands fa-ethereum"></i>
                    <i class="fa-solid fa-coins"></i> </span>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/compras">Nueva Compra</a></li>
                    <li><a href="/cartera">Mi Cartera</a></li>
                </ul>
            </nav>
        </header>
        <!--Empieza el hueco que se puede cambiar-->
        {% block content %}

    <table role="grid">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Compra</th>
                <th>Cantidad</th>
                <th>Venta</th>
                <th>Cantidad</th>
                <th>P.U</th>
            </tr>
        </thead>
             <tbody>
        <!--Lista que se envia desde paython-->
            {% for mov in datos %}
            <tr>
                <!--Pinta los datos de la base de datos,
                se tiene que llamar igual que lo del browser
                -->
                <td>{{ mov.date }}</td>
                <td>{{ mov.time }}</td>
                <td>{{ mov.from_currency }}</td>
                <td>{{ mov.from_quantity }}</td>
                <td>{{ mov.to_currency }}</td>
                <td>{{ mov.to_quantity }}</td>
                <td>
                    <!--Para que no de error cuando el valor sea 0 o none sino hay valor-->
                    {% if mov.to_quantity and mov.to_quantity != 0 %}
                        {{ (mov.from_quantity / mov.to_quantity) | round(8) }}
                    {% else %}
                        0
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <!--Si no hay movimientos muestrame esto-->
            <tr>
                <td colspan="6">No hay movimientos registrados.</td>
            </tr>
            <!--Se cierra la petición-->
            {% endfor %}
        </tbody>
    </table>
    <!--Aquí se cierra el hueco-->
    {% endblock %}
    </main>
    
</body>
</html>