.crypto-header-container {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: linear-gradient(to right, #ff9d00, #f8c494);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.crypto-icons {
    display: inline-block;
    vertical-align: middle;
}

.crypto-icons i {
    font-size: 2.5rem; 
    color: #e69422; 
    margin: 0 10px;
}

nav {
    display: flex;
    justify-content: center;
    font-size: larger;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9f43 !important;
    text-decoration: none !important;
}